<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
		<!-- Datos de conexión -->
		<property name="connection.driver_class">
			com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="connection.url">
			jdbc:sqlserver://localhost;databaseName=ejemplo
		</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<!-- Actualiza estructura -->
		<property name="hibernate.hbm2ddl.auto">update</property>

		<!-- la comunicacion con la bbdd -->
		<property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
		<!-- para MySQL: org.hibernate.dialect.MySQLDialect -->

		<!-- Para que muestre las querys que se van haciendo -->
		<property name="hibernate.show_sql">true</property>

		<!-- aca irían todas las configuraciones que vamos a ver en el siguiente 
			paso -->
		<mapping resource="CamposParaCalculoAnual.hbm.xml" />
		<mapping resource="DeduccionA.hbm.xml" />
		<mapping resource="DeduccionB.hbm.xml" />
		<mapping resource="DeduccionC.hbm.xml" />
		<mapping resource="Empleado.hbm.xml" />
		<mapping resource="ResultadoDeCalculo.hbm.xml" />

	</session-factory>
</hibernate-configuration>