<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
		<!-- Datos de conexión -->
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver</property>
		<property name="connection.url">
			jdbc:mysql://desarrollo.cdt.com.ar:3306/ganancias_desarrollo
		</property>
		<property name="connection.username">factory</property>
		<property name="connection.password">estabalocaMMM</property>
		<!-- Actualiza estructura -->

		<!-- la comunicacion con la bbdd -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- para MySQL: org.hibernate.dialect.MySQLDialect -->

		<!-- Para que muestre las querys que se van haciendo -->
		<property name="hibernate.show_sql">true</property>

		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- aca irían todas las configuraciones que vamos a ver en el siguiente 
			paso -->
		<mapping resource="hibernate/model/entities/CamposParaCalculoAnual.hbm.xml" />
		<mapping resource="hibernate/model/entities/DeduccionA.hbm.xml" />
		<mapping resource="hibernate/model/entities/DeduccionB.hbm.xml" />
		<mapping resource="hibernate/model/entities/DeduccionC.hbm.xml" />
		<mapping resource="hibernate/model/entities/Empleado.hbm.xml" />
		<mapping resource="hibernate/model/entities/ResultadoDeCalculo.hbm.xml" />

	</session-factory>
</hibernate-configuration>